body{
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100px; 
    background-image: url("Original_poster.jpg");
    background-repeat: repeat-y;
    background-size: cover; 
    display: block;
}

.logo{
    float: left;
    margin-left: 60px;
    padding: 0px 38px;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: rgb(203, 183, 149);
}

p{  
    color:antiquewhite;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    background-color: rgb(40, 39, 39);
} 

.tagline {
    height: 500px;
    width: 600px;
    position: absolute;
    top: 100%;
    left: 25%; 
    font-size: 17px;
}

.tagline p{
    color: rgb(236, 246, 246);
    font-family: 'raleway', sans-serif;
    text-align: left;
    margin-bottom: auto;
    margin-left: 2px;
}

.cari{
    height:35px;
    width: 200px;
    background-color: white;
    border: 0px solid white;
    box-shadow: 19px 21px 53px rgba(45, 45, 45, 0.6); 
}

.button{
    position: relative;
    padding: 6px 16px;
    border: 2px solid whitesmoke;
    background-color: rgb(73, 73, 79);
}

.button:hover{
    background-color: bisque;
    color:rgb(21, 21, 24);
    transition: 0.6s ease;
}

footer{
    height: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(40, 39, 39);
}

.outer-footer{
    text-align: center;
    color: rgb(209, 220, 230);
} 
