html{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-image: url("Original_poster.jpg");
    background-repeat: repeat-y;
    background-size: cover; 
    display: block;
}

.logo{
    float: left;
    margin-left: 60px;
    padding: 0px 38px;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.logo a{
    text-decoration: none;
    color: rgb(203, 183, 149);
}

p{
    color:antiquewhite;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    background-color: rgb(40, 39, 39);
}

.navbar ul{
    list-style: none;
    cursor: pointer;
    float: left;
    margin-left: 200px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    font-family: 'raleway', sans-serif;
    padding: 20px 20px;
    line-height: 10px;
    margin: 0;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(240, 225, 198);
    padding: 10px 10px;
    transition: 0.7s ease;
}

.navbar ul li a:hover{
    background-color: bisque;
    color: black;
}

.navbar.active a{
    background-color:  bisque;
    color: black;
}
.main{
    max-width: 1100px;
    margin: auto;
}

footer{
    height: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(40, 39, 39);
}

.outer-footer{
    text-align: center;
    color: rgb(209, 220, 230);
}
